  {% extends 'base.html' %}
  {% load bootstrap3 %}
  {% load static %}

  {% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-multiselect.css' %}"/>
  {% endblock %}

  {% block javascript %}
  <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
  <script type="text/javascript">
    $(function(){
        $('#services').multiselect({buttonWidth: '100%'});
    });
  </script>
  {% endblock %}

  {% block content %}

  <form method="post" class="form">
    <legend>Volunteer Registration</legend>
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Your name: </label>
      <input class="form-control" id="name" type="text" name="name" value="">
    </div>
    <div class="form-group">
    <label for="mobile">Your mobile number: </label>
    <input class="form-control" id="mobile" type="text" name="mobile" value="">
    </div>
    <div class="checkbox">
      <label>
        <input id="is_smartphone" name="is_smartphone" value="1" type="checkbox"> I am using a smart phone
      </label>
    </div>
    <div class="form-group">
    <label for="password">Password: </label>
    <input class="form-control" id="password" type="password" name="password">
    </div>
    <div class="form-group">
    <label for="district">District: </label>
    <select class="form-control" name="district">
      <option value="tvm">Thiruvananthapuram</option>
      <option value="ptm">Pathanamthitta</option>
      <option value="alp">Alappuzha</option>
      <option value="ktm">Kottayam</option>
      <option value="idk">Idukki</option>
      <option value="mpm">Malappuram</option>
      <option value="koz">Kozhikode</option>
      <option value="wnd">Wayanad</option>
      <option value="knr">Kannur</option>
      <option value="ksr">Kasaragod</option>
      <option value="pkd">Palakkad</option>
      <option value="tcr">Thrissur</option>
      <option value="ekm">Ernakulam</option>
      <option value="kol">Kollam</option>
    </select>
    </div>
    <div class="form-group">
    <label for="panchayath">Panchayath: </label>
    <input class="form-control" id="panchayath" type="text" name="panchayath">
    </div>
    <div class="form-group">
    <label for="location">Location: </label>
    <input class="form-control" id="location" type="text" name="location">
    </div>
    <div class="form-group">
    <label for="type">Type: </label>
    <select class="form-control" name="type">
      <option value="it">IT</option>
      <option value="ground">Ground Work</option>
      <option value="manager">Manager</option>
      <option value="hotline">Hotline</option>
    </select>
    </div>
    <div class="form-group">
    <label for="mobile">Area willing to support: </label>
    <input class="form-control" id="area_willing_to_support" type="text" name="area_willing_to_support">
    </div>
    <div class="form-group">
    <label for="mobile">Availability(Day/Night/Hours): </label>
    <input class="form-control" id="availability" type="text" name="availability">
    </div>
    <div class="form-group">
    <label for="type">Service Type: </label>
    <select class="form-control" multiple="multiple" name="services" id="services">
      {% for one in services %}
      <optgroup label="{{ one.name }}">
      {% for two in one.children %}
      <optgroup label="{{ two.name }}">
      {% for three in two.children %}
      <option value="{{ three.id }}">{{ three.name }}</option>
      {% endfor %}
      {% endfor %}
      {% endfor %}
  </select>
</div>
<button type="submit" class="btn btn-primary">
  {% bootstrap_icon "star" %} Register as volunteer
</button>
  </form>

  {% endblock %}
