  {% extends 'base.html' %}
  {% load bootstrap3 %}
  {% load static %}

  {% block javascript %}
  <script src="{% static 'js/jquery.chained.js' %}"></script>
  <script type="text/javascript">
    $(function(){
      $("#service_group").chained("#service_type");
      $("#service_item").chained("#service_group");
    });
  </script>
  {% endblock %}

  {% block content %}

  <form method="post" class="form">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Your name: </label>
      <input class="form-control" id="name" type="text" name="name" value="">
    </div>
    <div class="form-group">
    <label for="mobile">Your mobile number: </label>
    <input class="form-control" id="mobile" type="text" name="mobile" value="">
    </div>
    <div class="checkbox">
      <label>
        <input id="is_smartphone" name="is_smartphone" type="checkbox"> I am using a smart phone
      </label>
    </div>
    <div class="form-group">
    <label for="password">Password: </label>
    <input class="form-control" id="password" type="password" name="password">
    </div>
    <div class="form-group">
    <label for="district">District: </label>
    <select class="form-control" name="district">
      <option value="tvm">Thiruvananthapuram</option>
      <option value="ptm">Pathanamthitta</option>
      <option value="alp">Alappuzha</option>
      <option value="ktm">Kottayam</option>
      <option value="idk">Idukki</option>
      <option value="mpm">Malappuram</option>
      <option value="koz">Kozhikode</option>
      <option value="wnd">Wayanad</option>
      <option value="knr">Kannur</option>
      <option value="ksr">Kasaragod</option>
      <option value="pkd">Palakkad</option>
      <option value="tcr">Thrissur</option>
      <option value="ekm">Ernakulam</option>
      <option value="kol">Kollam</option>
    </select>
    </div>
    <div class="form-group">
    <label for="panchayath">Panchayath: </label>
    <input class="form-control" id="panchayath" type="text" name="panchayath">
    </div>
    <div class="form-group">
    <label for="location">Location: </label>
    <input class="form-control" id="location" type="text" name="location">
    </div>
    <div class="form-group">
    <label for="type">Type: </label>
    <select class="form-control" name="type">
      <option value="it">IT</option>
      <option value="ground">Ground Work</option>
      <option value="manager">Manager</option>
      <option value="hotline">Hotline</option>
    </select>
    </div>
    <div class="form-group">
    <select class="form-control" id="service_type" name="service_type">
      <option value="">---</option>
      <option value="Rescue">Rescue</option>
      <option value="Food">Food</option>
      <option value="Medical_Assistance">Medical Assistance</option>
    </select>

    </div>
    <div class="form-group">
    <select class="form-control" name="sevice_group" id="service_group">
      <option value="">---</option>
      <option data-chained="Rescue" value="In_Site_Rescue">In Site Rescue</option>
      <option data-chained="Rescue" value="Relief_Camps">Relief Camps</option>

      <option data-chained="Food" value="Store">Store</option>
      <option data-chained="Food" value="Transportation">Transportation</option>
      <option data-chained="Food" value="Distribution">Distribution</option>

      <option data-chained="Medical_Assistance" value="Doctor">Doctor</option>
      <option data-chained="Medical_Assistance" value="Medicine">Medicine</option>
      <option data-chained="Medical_Assistance" value="Ambulance">Ambulance</option>
      <option data-chained="Medical_Assistance" value="Pharmacist">Pharmacist</option>
      <option data-chained="Medical_Assistance" value="Nursing_Staff">Nursing Staff</option>
    </select>

    </div>
    <div class="form-group">
    <select class="form-control" name="sevice_item" id="service_item">
      <option value="">---</option>
      <option data-chained="Relief_Camps" value="Medical">Medical</option>
      <option data-chained="Relief_Camps" value="Food">Food</option>
      <option data-chained="Relief_Camps" value="Transportation">Transportation</option>
      <option data-chained="Relief_Camps" value="Volunteer">Volunteer</option>

      <option data-chained="In_Site_Rescue" value="Boat">Boat </option>
      <option data-chained="In_Site_Rescue" value="Heavy_Vehicles">Heavy Vehicles</option>
      <option data-chained="In_Site_Rescue" value="LMV">LMV</option>
      <option data-chained="In_Site_Rescue" value="Volunteer">Volunteer</option>

      <option data-chained="Store" value="Packed Food">Packed Food</option>
      <option data-chained="Store" value="Raw_Materials">Raw Materials</option>
      <option data-chained="Store" value="Drinking_Water">Drinking Water</option>

      <option data-chained="Transportation" value="Heavy_Vehicle">Heavy Vehicle</option>
      <option data-chained="Transportation" value="LMV">LMV</option>

      <option data-chained="Distribution" value="Volunteer">Volunteer</option>

      <option data-chained="Doctor" value="Can_work_at_Relief_Camp">Can work at Relief Camp</option>
      <option data-chained="Doctor" value="Other">Other</option>

      <option data-chained="Nursing_Staff" value="Can_work_at_Relief Camp">Can work at Relief Camp</option>
      <option data-chained="Nursing_Staff" value="Other">Other</option>

      <option data-chained="Pharmacist" value="Willing_to_work at Relief Camp">Willing to work at Relief Camp</option>
      <option data-chained="Pharmacist" value="Other">Other</option>

      <option data-chained="Medicine" value="Store">Store</option>
      <option data-chained="Medicine" value="Transportation">Transportation</option>
      <option data-chained="Medicine" value="Nursing">Nursing</option>

      <option data-chained="Ambulance" value="With_Life_supporting_Instruments">With Life supporting Instruments</option>
      <option data-chained="Ambulance" value="Without_LSI">Without LSI</option>
    </select>
  </div>
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Register as volunteer
    </button>
  </form>

  {% endblock %}
